/node_modules
/public/hot
/public/storage
/public/uploads/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/public/.htaccess
/storage/poverty_files/
/storage/*
config/database.php
resources/lang/marathi_font/*
.gitignore
/~