body{
	background: url(../images/mhada-bg.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.bg-image .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFF;
    background: rgba(0, 0, 0, .8);
}

.logo{
	background: #fff;
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.text-content{
	padding-top: 13%;
}

.text-content a{
	color: #fff;
	font-size: 16px;
}

.sim-button{
	margin-top: 50px;
}

.example_e {
border: none;
background: rgba(64, 64, 64, 0.5);
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
text-decoration: none;
margin-bottom: 60px;
border-radius: 0;
letter-spacing: 2px;
}

.example_e:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: white;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s linear 0s;
text-decoration: none;
}

h4{
	color: #fff;
}